.container {
	/*
	border-width: 1px;
	border-style: solid;
	border-color: black;*/
	margin-left: 50px;
}

#heading {
	min-width: 50%;
	margin-top: 25px;
	padding-top: 10px;
}

#greeting {
	min-width: 30%;
	margin-top: 50px;
}

#portfolio {
	margin-top: 50px;
}